<h1><%= @restaurant.name %> </h1>
<ul>
<li><%= @restaurant.address %> </li>
<li><%= @restaurant.phone_number %></li>
</ul>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review|  %>
    <li><%= review.content %> - <%= "â­" * review.rating %></li>
  <% end %>
</ul>


<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
